################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GitRepositories/FileContentIndex/69656d17-0d14-4f20-9850-08817b2ecc4d.vsidx
